---
layout: default
---

<div class="home">

  
<div class="container">
    <div class="row">
  

      <div class="card-columns">
        {% for post in paginator.posts %}
        
          

              <div class="card shadow-nohover">
  	             {% if post.youtubeId and post.youtubeId != "" %}
                 {% include youtubeplayer.html id=post.youtubeId %}
                 {% endif %}
                 {% if post.image.feature and post.image.feature != "" %}
                 <img src="{{ post.image.feature }}" alt="{{ post.title }}" class="card-img-top">
                 {% endif %}
                 <div class="card-body">
		<h5 class="card-title">
                   <a class="text-black" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</h5>
<div class="byline"><span><i class="fa fa-calendar"></i> {{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span><span><i class="fas fa-pencil-alt" aria-hidden="true"></i> {{post.author}}</span></div>
                   <p class="card-text">{{ post.excerpt | strip_html | truncatewords:25 }}</p>
                   <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-danger text-white" role="button">Read More</a>
                 </div>
                 
               </div>

          
          
            {% endfor %}
          </div>
        
     </div>
<nav aria-label="Page navigation">
{% if paginator.total_pages > 1 %}
  <ul class="pagination justify-content-center">
{% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" tabindex="-1">&laquo; Previous</a>
    </li>
{% else %}
<li class="page-item disabled">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" tabindex="-1">&laquo; Previous</a>
    </li>
{% endif %}

   {% if paginator.next_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% else %}
    <li class="page-item disabled"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% endif %}
  </ul>
{% endif %}
</nav> 
     
    </div></div>
