---
layout: default
---
<div class="container">

  
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
 <div class="card shadow-nohover">
  <header class="post-header">
{% if page.youtubeId and page.youtubeId != "" %}
                 {% include youtubeplayer.html id=page.youtubeId %}
                 {% endif %}
                 {% if page.image.feature and page.image.feature != "" %}
                 <img src="{{ page.image.feature }}" alt="{{ post.title }}" class="card-img-top">
                 {% endif %}
<div class="card-body">

    <h4 class="card-title" itemprop="name headline">{{ page.title }}</h4>
<div class="byline"><span><i class="fa fa-calendar"></i> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span><i class="fas fa-pencil-alt" aria-hidden="true"></i> {% if page.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</span>
</div>

  </header>

  <div class="post-content post-content1" itemprop="articleBody">
    {{ content }}
<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src="/images/facebook.png" alt="facebook"></a>
<a href="whatsapp://send?text={{ site.url}}{{ page.url }}" data-action="share/whatsapp/share"><img src="/images/whatsapp.png" alt="whatsapp"></a>
  </div>

</div>

    </div>
</article>




</div>
